
#gpane {
    -fx-background-image: url('grid.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
}

.player:disabled {
    -fx-opacity: 0.5
}
#playerX {
    -fx-image: url('tag/X.png');
}
#playerO {
    -fx-image: url('tag/O.png');
}

.score {
    -fx-font-size: 64;
    -fx-font-weight: bold;
}
#scoreX {
    -fx-text-fill: #ff5b4e;
}
#scoreO {
    -fx-text-fill: #4a7dca;
}

.tag {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.tag:disabled {
    -fx-opacity: 0.5
}
.tag:X {
    -fx-background-image: url('tag/X.png');
}
.tag:O {
    -fx-background-image: url('tag/O.png');
}
